.contenedor {
    width: 300px;
    background-color:aliceblue;
    border: 2px solid skyblue;
    margin: 8px;
    padding: 5px;
}
.contenedor:hover{
    background-color:rgb(9, 138, 243);
}



.title {
    background-color:aqua;
    position: relative;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    align-items: center;
    text-decoration: none;
    color: midnightblue;
}
