.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 1rem;
    padding: 1rem;
}

.bkg{
    background-image: url('../pics/C7.jpg');
    background-size: cover;
    height: 100%;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.bkgcolor{
    position: absolute;
    background-color: rgba(25, 209, 241, 0.253);
    height: 100%;
    width: 77%;
    border-radius: 1rem;
}

.form{
    background-color: rgb(12, 143, 231); 
    background-color: rgba(25, 136, 200, 0.4);
    color: rgb(255, 248, 248);
    border: 1px solid #f1f1f1;
    border-radius: 1rem;
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
   
}

.createButton{
    padding: 5px;
    margin: 5px;
    width: 200px;
    font-size: large;
    border-radius: 5px;
    border: 2px solid rgb(212, 79, 79);
    background-color: white;
    color: rgb(212, 79, 79);
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}